<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="fr">
    <!--<![endif]-->

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <title>Wijhaty - L'orientation autrement</title>
            <!--Meta-->
            <meta name="description"  content="Solution Innovante pour le cadre de demain"/>
            <meta name="author"  content="Ensa Marrakech"/>
            <!--Set the viewport width to device width for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <!--Foundation Framework-->
            <link rel="stylesheet" href="assets/styles/foundation.min.css"/>
            <!--Plugins-->
            <link rel="stylesheet" href="assets/styles/font-awesome.min.css"/>
            <link rel="stylesheet" href="assets/styles/prettyPhoto.css"/>


            <!--Main Stylesheet (change this to modify template)-->
            <link rel="stylesheet" href="assets/styles/app.css"/>
            <link rel="stylesheet" href="assets/styles/custom.css"/>


            <!--Google Fonts-->
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'/>
            <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'/>

            <!--[if IE 7]>
            <link rel="stylesheet" href="assets/styles/font-awesome-ie7.min.css">
            <script src="assets/scripts/ie6/warning.js"></script>
            <script>window.onload=function(){e("assets/scripts/ie6/")}</script>
            <![endif]-->


            <!--Icon-->
            <link rel="shortcut icon" href="assets/images/icons/logo.png"/>
            <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.html"/>
            <link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-touch-icon-57x57.html"/>
            <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.html"/>
            <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.html"/>
            <link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-touch-icon-144x144.html"/> 


            <!-- jQuery & Foundation Framework -->
            <script type="text/javascript" src="assets/scripts/modernizr.foundation.js"></script>
        </head>

        <body>




            <!-- Page
            ================================================ -->
            <!--Attributes-->
            <!--class = page wide-style / boxed-style-->
            <div class="page wide-style">





                <!-- HEADER SECTION
                ================================================ -->
                <header>
                    <div class="header-bg">
                        <!--Top links-->
                        <div class="top-links">
                            <div class="row">
                                <ul class=" block-grid">
                                    <li class="eight columns"><a href="#"><i class="icon-envelope"></i> &nbsp; wijhaty@gmail.com</a></li>
                                    <li class="four columns hide-for-small">
                                        Retrouvez-nous sur: &nbsp;
                                        <a href="https://twitter.com/Wijhaty_ma" class="has-tip" data-width="210" title="Suivez-nous sur Twitter"><i class="icon-twitter"></i></a>
                                        <a href="https://www.facebook.com/wijhaty" class="has-tip" data-width="210" title="Retrouvez-nous sur Facebook"><i class="icon-facebook"></i></a>
                                        <a href="https://plus.google.com/u/0/b/111039998144855716908" class="has-tip" data-width="210" title="Retrouvez-nous sur Google+"><i class="icon-google-plus"></i></a>
                                        <a href="http://www.pinterest.com/wijhaty/" class="has-tip" data-width="210" title="Suivez-nous sur Pinterest"><i class="icon-pinterest"></i></a>
                                        <a href="http://www.linkedin.com/groups/Wijhaty-7497429" class="has-tip" data-width="210" title="Rejoignz-nous sur LinkedIn"><i class="icon-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end top-links-->

                        <div id="header">
                            <div class="row">
                                <!-- Logo -->
                                <div class="six columns">
                                    <h1 id="logo">Wijhaty. L'orientation autrement.
                                        <a href="index-2.html"><img src="assets/images/logo2.png" width="420" height="108" alt="Wijhaty. L'orientation autrement."/></a>
                                    </h1>
                                </div>
                                <!--end logo-->


                                <!-- Login/Register/Forgot username/password Modal forms
                                    -  Hidded by default to be opened through modal
                                  -  For faster loading we put all forms at the bottom of page -->

                                <!--Login buttons-->  
                                 <div class="five columns offset-by-one">
                                    <span class="hide-for-small space-b-50"></span>
                                    <ul class="button-group radius right login-buttons">
                                        <li><a>connecté en tant que. Zakiou</a></li>
                                    </ul>
                                </div>
                                <!--end login buttons-->


                                <div class="twelve columns">
                                    <div class="row">

                                        <!--Form wrapper-->
                                        <div class="five columns form-wrapper">
                                            <div class="form-header">
                                                <p class="lead">Pour une bonne orientation, <strong>Wijhaty</strong> vous invite à vous projeter dans le métier qui vous convient.</p>
                                            </div>
                                            <!--Search form-->
                                            <form action="index_1.html" method="post" class="custom form-search">
                                                <div class="row">
                                                    <div class="five mobile-four columns">
                                                        <label class="right inline">Vous êtes:</label>
                                                    </div>
                                                    <div class="seven mobile-four columns">
                                                        <select class="expand">
                                                            <option selected="selected">Etudiant</option>
                                                            <option>Parent</option>
                                                            <option>Professeur</option>
                                                            <option>Professionnel</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->
                                                <div class="row">
                                                    <div class="five mobile-four columns">
                                                        <label class="right inline">Centre d'intêret:</label>
                                                    </div>
                                                    <div class="seven mobile-four columns">
                                                        <select class="expand">
                                                            <option selected="selected">Agriculture</option>
                                                            <option>Art, Design</option>
                                                            <option>Informatique et télécoms</option>
                                                            <option>Communication - Marketing</option>
                                                        </select>
                                                    </div>
                                                </div><!--end row-->

                                                <div class="row">
                                                    <div class="seven offset-by-five columns"><button class="button radius" onclick="self.location.href = 'http://localhost:8085/wijhaty/index_1.html'"><i class="icon-search"></i> &nbsp;Chercher</button></div>
                                                </div>
                                                <span class="notch"></span>
                                            </form>
                                            <!--end search form-->
                                            <!--Form footer-->
                                            <div class="form-footer">
                                                <p><em>Ou</em> <strong>choisisir parmi les métiers suivants</strong>
                                                    <span class="right hide-for-small">
                                                        <a href="#" id="profile-thumbs-prev"><i class="icon-circle-arrow-left icon-large"></i></a>&nbsp;
                                                        <a href="#" id="profile-thumbs-next"><i class="icon-circle-arrow-right icon-large"></i></a>
                                                    </span>
                                                </p>
                                                <div class="clearfix"></div>

                                                <div class="carousel-profiles responsive">
                                                    <ul id="profile-thumbs">
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_01.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_02.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_03.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_04.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_05.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_06.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_07.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_08.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_09.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_10.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_11.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_12.jpg" alt=""/></a></li>
                                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_13.jpg" alt=""/></a></li>
                                                    </ul>
                                                </div><!--end carousel-profiles-->
                                            </div><!--end form-footer-->

                                        </div><!--end form-wrapper-->
                                    </div><!--end row-->
                                </div><!--end twelve-->
                            </div><!--end row-->
                        </div><!--end #header-->
                    </div><!--end header-bg-->
                </header>
                <!--END HEADER SECTION-->





                <!-- CALL TO ACTION SECTION
                ================================================ -->
                <section>
                    <div id="call-to-actions" class="">
                        <div class="row map-bg">

                            <div class="twelve columns">
                                <h1 class="section-title">Solution innovante <br/>pour le <span class="pink-text">cadre</span> de demain</h1>
                                <p class="lead">Félicitation en visitant ce site vous faites partie des personnes qui réfléchissent à leur <strong><span class="pink-text">avenir professionnel</span></strong>. <strong class="black-text">Vivez l'expérience en rejoignant la communauté.</strong></p>

                                <!--Video - Hidden by default-->
                                <div id="markerPoint"></div>
                                <div id="video">
                                    <div class="central">
                                        <a href="#" id="videoClose"><i class="icon-off icon-2x"></i></a>
                                        <div id="videoLoad" class="flex-video widescreen">

                                            <!--YOUTUBE EXAMPLE-->
                                            <iframe id="tours" src="http://www.youtube.com/embed/FtquI061bag"></iframe>

                                            <!--<embed id="tours" flashvars='file=http%3A%2F%2F1.s3.envato.com%2Ffiles%2F27626529%2FMVI_6215-18.flv&amp;image=http%3A%2F%2F1.s3.envato.com%2Ffiles%2F27626530%2FMVI_6215-18.jpg&amp;skin=http%3A%2F%2Fvideohive.net%2Fvideo_player%2Fmodieus.zip&amp;autostart=true' wmode='transparent' src='http://videohive.net/video_player/player.swf' />-->
                                        </div>
                                    </div>
                                </div>
                                <!--end video-->

                                <!--Take action-->
                                <div class="take-action">
                                    <ul class="button-group radius expand left">
                                        <li><a href="#" data-reveal-id="register_panel" target="_blank" class="button large expand alert">Inscrivez-vous ! </a></li>
                                    </ul>
                                    <span class="or-block hide-for-small">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                                    <ul class="button-group radius expand right">

                                        <!--YOUTUBE EXAMPLE-->
                                        <li><a href="http://www.youtube.com/embed/FtquI061bag?autoplay=1&amp;rel=0&amp;showinfo=0" class="button large expand play">Video présentative <i class="icon-film"></i></a></li>
                                        <!--<li><a href="http://videohive.net/video_player/player.swf" class="button large expand play">Our TV Commercial <i class="icon-film"></i></a></li>-->
                                    </ul>
                                </div>
                                <!--end take-action-->
                            </div><!--end twelve-->

                            <!--Status Icons-->
                            <div class="status three columns mobile-one">
                                <div class="icon" data-animation="pulse">
                                    <img src="assets/images/icons/steps/status_01.png" width="213" height="149" alt=""/>
                                </div>
                                <ul class="block-grid">
                                    <li class="title">+3 milles</li>
                                    <li class="">Membres au total</li>
                                </ul>
                            </div>

                            <div class="status three columns mobile-one">
                                <div class="icon" data-animation="pulse">
                                    <img src="assets/images/icons/steps/status_02.png" width="213" height="149" alt=""/>
                                </div>
                                <ul class="block-grid">
                                    <li class="title">+60</li>
                                    <li class="">professionnels</li>
                                </ul>
                            </div>

                            <div class="status three columns mobile-one">
                                <div class="icon" data-animation="pulse">
                                    <img src="assets/images/icons/steps/status_03.png" width="213" height="149" alt=""/>
                                </div>
                                <ul class="block-grid">
                                    <li class="title">+80</li>
                                    <li class="">Écoles et facultés</li>
                                </ul>
                            </div>

                            <div class="status three columns mobile-one">
                                <div class="icon" data-animation="pulse">
                                    <img src="assets/images/icons/steps/status_04.png" width="213" height="149" alt=""/>
                                </div>
                                <ul class="block-grid">
                                    <li class="title">+40</li>
                                    <li class="">Métiers</li>
                                </ul>
                            </div>
                            <!--end status icons-->

                        </div><!--end row map-bg-->
                    </div><!--end call-to-actions-->
                </section>
                <!--END CALL TO ACTION SECTION-->





                <!-- FEATURED TEXT SECTION
                ================================================ -->
                <section>
                    <div id="feature-text" class="text-center">
                        <div class="row">
                            <div class="twelve columns">
                                <h2><span class="">Pourquoi <span class="pink-text">devenir Membre?</span></span></h2>
                                <p class="lead">Wijhati a pour but de présenter une plateforme web afin d’aider les étudiants à trouver une orientation qui leur convient, et cela à travers trois volets.</p>
                            </div><!--end twelve-->

                            <ul class="no-bullet">
                                <li class="four columns">
                                    <div class="circle">
                                        <a href="assets/images/small_thumb_01.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
                                            <span class="overlay"></span>
                                            <span class="read"><i class="icon-pencil"></i></span>
                                            <img src="assets/images/small_thumb_01.png" alt=""/>
                                        </a>
                                    </div>
                                    <h4>Enseigement et métier</h4>
                                    <p>You can register and create your profile for FREE! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <p><a href="./parcours.html" class="small button radius secondary"><i class="icon-angle-right"></i> En Savoir Plus</a></p>
                                </li>

                                <li class="four columns">
                                    <div class="circle">
                                        <a href="assets/images/small_thumb_02.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
                                            <span class="overlay"></span>
                                            <span class="read"><i class="icon-comment"></i></span>
                                            <img src="assets/images/small_thumb_02.png" alt=""/>
                                        </a>
                                    </div>
                                    <h4>Marché du travail</h4>
                                    <p>Invite friends to help you find your perfect match. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> En Savoir Plus</a></p>
                                </li>

                                <li class="four columns">
                                    <div class="circle">
                                        <a href="assets/images/small_thumb_03.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
                                            <span class="overlay"></span>
                                            <span class="read"><i class="icon-plane"></i></span>
                                            <img src="assets/images/small_thumb_03.png" alt=""/>
                                        </a>
                                    </div>
                                    <h4>Simuler sa carrière</h4>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> En Savoir Plus</a></p>
                                </li>
                            </ul>
                        </div><!--end row-->
                    </div><!--end feature-text-->
                </section>
                <!--END FEATURED TEXT SECTION-->





                <!-- TESTIMONIALS SECTION
                ================================================ -->
                <section>
                    <div id="testimonials">
                        <div class="row">
                            <div class="twelve columns"><hr/>
                                    <ul class="testimonials-carousel">
                                        <li>
                                            <div class="quote-content">
                                                Puisqu'on ne peut changer la direction du vent, il faut apprendre à orienter les voiles.
                                            </div>
                                            <div class="quote-author">
                                                <strong>James Dean</strong>
                                                <span class="author-description"> - Acteur américain</span>
                                            </div>

                                        </li>

                                        <li class="hide-on-mobile">
                                            <div class="quote-content">
                                                Oublions ces examens qui agissent comme des aimants pernicieux en orientant les efforts vers la "réussite".
                                            </div>
                                            <div class="quote-author">
                                                <strong>Albert Jacquard</strong>
                                                <span class="author-description"> - Biologiste et écrivain français</span>
                                            </div>
                                        </li>

                                        <li class="hide-on-mobile">
                                            <div class="quote-content">
                                                L’avenir scolaire du jeune est fonction de son orientation dès la deuxième année du collège.
                                            </div>
                                            <div class="quote-author">
                                                <strong>La Vie éco</strong>
                                                <span class="author-description"> - www.lavieeco.com 2011-07-11</span>
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!--END TESTIMONIALS SECTION-->





                <!-- SUPPORT & NEWSLETTER SECTION
                ================================================ -->
                <section>
                    <div id="support">
                        <div class="row">

                            <div class="four columns">
                                <div class="panel">
                                    <h4><i class="icon-question-sign"></i> Questions et infos?</h4>
                                    <p>Voir notre zone de support où vous pouvez trouver des questions posées par des utilisateurs et répondues par l'équipe Wijhaty.</p>
                                    <a href="https://www.facebook.com/wijhaty" class="small button radius secondary" target="_blank"><i class="icon-angle-right"></i> ZONE DE SOUTIEN</a>
                                </div><!--end panel-->
                            </div>

                            <div class="eight columns">
                                <div class="panel">
                                    <h4><i class="icon-thumbs-up"></i> S'INSCRIRE AUX NEWSLETTER</h4>
                                    <p>En vous abonnant à notre liste de diffusion, vous serez toujours à jour avec les dernières nouvelles du site.</p>

                                    <!--Newsletter form-->
                                    <form id="newsletter-form" name="newsletter-form" method="post" class="row">
                                        <div class="four columns">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><i class="icon-user"></i></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" name="yname" id="yname" placeholder="Votre nom" required=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five columns">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><i class="icon-envelope"></i></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="email" name="email" id="email" placeholder="Votre email" required=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three columns">
                                            <p><button type="submit" id="newsletter-submit" name="newsletter-submit" class="small radius button expand">S'INSCRIRE</button></p>
                                        </div>
                                        <div class="twelve column">
                                            <small><i class="icon-lock"></i> <strong>Votre <a href="#">confidentialité</a> est importante pour nous? et jamais nous ne vendrons vos informations.</strong></small>            	
                                        </div>
                                    </form><!--end newsletter-form-->
                                </div><!--end panel-->
                            </div>

                        </div><!--end row-->
                    </div><!--end support-->
                </section>
                <!--END SUPPORT & NEWSLETTER SECTION-->





                <!-- FOOTER SECTION
                ================================================ -->
                <footer>
                    <div id="footer">
                        <div class="row">

                            <!--About us-->
                            <div class="three columns section">
                                <h5><i class="icon-heart"></i> À propos de nous</h5>
                                <p>Lorem ipsum dolor sit amet, has an nullam sadipscing ullamcorper, nisl graeci minimum usu no, ne est erat deseruisse vituperata.</p>
                                <p><i class="icon-envelope"></i> &nbsp;<a href="tel:0617111120">wijhaty@gmail.com  </a><br />&nbsp;<i class="icon-mobile-phone icon-large"></i> &nbsp;&nbsp;(0617) 111-120</p>
                                <p class="footer-social-icons">Stay in touch:<br />
                                        <a href="#" class="" data-width="210" title="Follow us on Twitter"><i class="icon-twitter-sign icon-2x"></i></a>
                                        <a href="#" class="" data-width="210" title="Find us on Facebook"><i class="icon-facebook-sign icon-2x"></i></a>
                                        <a href="#" class="" data-width="210" title="Find us on Google+"><i class="icon-google-plus-sign icon-2x"></i></a>
                                        <a href="#" class="" data-width="210" title="Pin us on Pinterest"><i class="icon-pinterest-sign icon-2x"></i></a>
                                        <a href="#" class="" data-width="210" title="Find us on LinkedIn"><i class="icon-linkedin-sign icon-2x"></i></a>
                                </p>
                            </div>
                            <!--end about us-->

                            <!--Useful links-->
                            <div class="three columns section">
                                <h5>Liens utiles</h5>
                                <ul class="no-bullet">
                                    <li><i class="icon-angle-right"></i> <a href="#">Termes et Conditions</a></li>
                                    <li><i class="icon-angle-right"></i> <a href="#">Nom d'utilisateur oublié</a></li>
                                    <li><i class="icon-angle-right"></i> <a href="#">Mot de passe oublié</a></li>
                                    <li><i class="icon-angle-right"></i> <a href="#">FAQ</a></li>
                                    <li><i class="icon-angle-right"></i> <a href="#">Sécurité</a></li>
                                    <li><i class="icon-angle-right"></i> <a href="#">Charte de confidentialité</a></li>
                                </ul>
                            </div>
                            <!--end useful links-->

                            <!--Twitter feed-->
                            <div class="three columns section">
                                <h5><i class="icon-twitter"></i> Twitt's récents</h5>
                                <!-- IMPORTANT see docs on how to create your feed or go to https://twitter.com/settings/widgets  -->
                                <div id="twitter_wrap">
                                    <div id="tweet"></div>
                                </div>
                            </div>
                            <!--end twitter feed-->

                            <!--Latest from blog-->
                            <div class="three columns section">
                                <h5>Récemment dans le blog</h5>
                                <ul class="latest-blog">
                                    <li>
                                        <a href="#"><img src="assets/images/quote/user_quote_02.jpg" alt=""/></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. <a href="#">read more</a></p>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/quote/user_quote_01.jpg" alt=""/></a>
                                        <p>Ut enim ad minim veniam, quis nostrud. <a href="#">read more</a></p>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/quote/user_quote_03.jpg" alt=""/></a>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate. <a href="#">read more</a></p>
                                    </li>
                                </ul>
                            </div>
                            <!--end latest from blog-->

                            <div class="twelve columns">
                                <hr />
                                    <p>Copyright &copy; 2014 Wijhaty. Tous droits réservés. Compétition <a href="http://www.innovit.ma/" target="_blank">InnovIT</a>.</p>
                            </div>
                        </div>
                    </div><!--end footer-->
                </footer>
                <!--END FOOTER SECTION-->





                <!-- POP-UP MODAL FORMS
                ================================================ -->
                <!--Login panel-->
                <div id="login_panel" class="reveal-modal">
                    <div class="row">
                        <div class="twelve columns">
                            <h5 class="pink-text"><i class="icon-user icon-large"></i> CONNEXION <span class="subheader right small-link"><a href="#" data-reveal-id="register_panel" class="radius secondary small button">CRÉER UN NOUVEAU COMPTE</a></span></h5>
                        </div>
                        <form id="login_form" name="login_form" method="post" class="clearfix">
                            <div class="six columns">
                                <input type="text" id="username" name="username" class="inputbox" placeholder="Nom d'utilisateur" required="" />
                            </div>
                            <div class="six columns">
                                <input type="password" id="password" name="password" class="inputbox" placeholder="Mot de passe" required="" />
                            </div>
                            <p class="twelve columns">
                                <small><i class="icon-lock"></i> Votre <a href="#">confidentialité</a> est importante pour nous? et jamais nous ne vendrons vos informations.</small>
                            </p>
                            <div class="twelve columns">
                                <button type="submit" id="login" class="radius secondary button" >&nbsp;CONNEXION</button> &nbsp; <a href="#" class="radius button facebook"><i class="icon-facebook-sign"></i> connexion avec Facebook</a>
                            </div>
                        </form>
                        <div class="twelve columns"><hr />
                                <ul class="inline-list">
                                    <li><small><a href="#" data-reveal-id="forgot_panel">Nom d'utilisateur oublié?</a></small></li>
                                    <li><small><a href="#" data-reveal-id="forgot_panel">Mot de passe oublié?</a></small></li>
                                </ul>
                        </div>
                    </div><!--end row-->
                    <a href="#" class="close-reveal-modal">×</a>
                </div><!--end login panel-->

                <!-- Register panel -->
                <div id="register_panel" class="reveal-modal">
                    <div class="row">
                        <div class="twelve columns">
                            <h5 class="pink-text"><i class="icon-magic icon-large"></i> CRÉER UN COMPTE <span class="subheader right small-link"><a href="#" data-reveal-id="login_panel" class="radius secondary small button">VOUS AVEZ DÉJÀ UN COMPTE?</a></span></h5>	
                        </div>
                        <form id="register_form" name="register_form" method="post">
                            <div class="six columns">
                                <input type="text" id="reg-username" name="username" class="inputbox" placeholder="Nom d'utilisateur" />
                            </div>
                            <div class="six columns">
                                <input type="text" id="fullname" name="fullname" class="inputbox" placeholder="Votre nom complet" />
                            </div>
                            <div class="twelve columns">
                                <input type="text" id="reg-email" name="email" class="inputbox" placeholder="Votre email" />
                            </div>
                            <div class="six columns">
                                <input type="password" id="reg-password" name="password" class="inputbox" placeholder="Mot de passe desiré" />
                            </div>
                            <div class="six columns">
                                <input type="password" id="confirm_password" name="confirm_password" class="inputbox" placeholder="Mot de passe confirmation" />
                            </div>
                            <div class="twelve columns">
                                <p><small>Consultez <a href="#"><strong>nos termes et conditions</strong></a> avant inscription. une fois familiarisés avec nos conditions, cliquez sur le bouton Créer mon compte.</small></p>
                                <button type="submit" id="signup" name="submit" class="radius alert button"><i class="icon-heart"></i> &nbsp;CRÉER MON COMPTE</button>
                            </div>
                        </form>
                    </div><!--end row-->
                    <a href="#" class="close-reveal-modal">×</a>
                </div><!-- end register panel -->

                <!-- Forgot panel -->
                <div id="forgot_panel" class="reveal-modal">
                    <div class="row">
                        <div class="twelve columns">
                            <h5 class="pink-text"><i class="icon-lightbulb icon-large"></i> FORGOT YOUR DETAILS?</h5>
                        </div>
                        <form id="forgot_form" name="forgot_form" method="post" class="clearfix">
                            <div class="twelve columns">
                                <input type="text" id="forgot-email" name="email" class="inputbox" placeholder="Email Address"/>
                                    <button type="submit" id="recover" name="submit" class="radius secondary button">SEND MY DETAILS! &nbsp;<i class="icon-envelope"></i></button>
                            </div>
                        </form>
                        <div class="twelve columns"><hr />
                                <small><a href="#" data-reveal-id="login_panel" class="radius secondary label">AAH, WAIT, I REMEMBER NOW!</a></small>
                        </div>
                    </div><!--end row-->
                    <a href="#" class="close-reveal-modal">×</a>
                </div><!-- end register panel -->
                <!-- end login register stuff -->

                <p id="btnGoUp">Go up</p>
            </div><!--end page-->  

            <!--END POP-UP MODAL FORMS-->





        <!-- JAVASCRIPTS
        ================================================ -->

        <!-- jQuery & Foundation Framework -->
        <script type="text/javascript" src="assets/scripts/jquery.js"></script>
        <script type="text/javascript" src="assets/scripts/foundation.min.js"></script>



        <!-- 3rd Plugins -->

        <!-- include carouFredSel plugin -->
        <script type="text/javascript" src="assets/scripts/plugins/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>
        <!-- optionally include helper for carouFredSel plugins -->
        <script type="text/javascript" src="assets/scripts/plugins/carouFredSel/helper-plugins/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="assets/scripts/plugins/carouFredSel/helper-plugins/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="assets/scripts/plugins/carouFredSel/helper-plugins/jquery.transit.min.js"></script>
        <script type="text/javascript" src="assets/scripts/plugins/carouFredSel/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

        <script type="text/javascript" src="assets/scripts/plugins/tweet/jquery.tweet.js"></script>
        <script type="text/javascript" src="assets/scripts/plugins/fittext/jquery.fittext.js"></script>
        <script type="text/javascript" src="assets/scripts/plugins/quovolver/jquery.quovolver.js"></script><!--Quote rotator-->
        <script type="text/javascript" src="assets/scripts/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>

        <!-- Custom JS effects, tweaks and inits -->
        <script type="text/javascript" src="assets/scripts/app.js"></script>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq = [["_setAccount", "UA-XXXXX-X"], ["_trackPageview"]];
            (function(d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.async = 1;
                g.src = ("https:" == location.protocol ? "//ssl" : "//www") + ".google-analytics.com/ga.js";
                s.parentNode.insertBefore(g, s)
            }(document, "script"));
        </script>




        <!-- start Mixpanel -->
        <!--<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("5251599a119e6cce0854789af2d2071c");</script>-->
        <!-- end Mixpanel -->

    </body>
</html>